body {
   font-family: 'Waiting for the Sunrise', arial, serif;
   background-color: #1a2529;
   color: black;
}

h1 {
   font-size: 22px;
   margin: 30px auto;
   width: 840px;
   color: lightgray;
   letter-spacing: 2px;
}

h1 span {
   color: white;
}

#container {
   width: 800px;
   margin: 20px auto;
   background-color: #d4edfb;
   overflow: hidden;
   box-shadow: inset -2px -2px 10px gray;
   padding: 20px;
   border: 1px dashed black;
}

.cp {
   margin: 20px;
}

.io {
   clear: both;
   float: left;
   margin: 20px;
   padding: 20px;
   border: 1px solid lightgray;
   position: relative;
   background-color: white;
}

.io input {
   width: 55px;
   border: 1px solid black;
}

.io label {
   font-size: 12px;
   font-weight: bold;
}

#rgb_css, 
#hsv_css {
   font-size: 9px;
}

#color {
   width: 40px;
   height: 40px;
   float: left;
   margin: 20px;
   border: 1px solid black;
}

#text-color {
   float: left;
   margin-top: 30px;
}