body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d4edfb;
}
#browsers {
    float: right;
    width: 100px;
    margin-top: -230px;
    position: relative;
    left: 220px;
}
#browsers span {
    font-size: 10px;
}
#browsers img {
    max-width: 40px;
}
#header {
    text-align: left;
    background-color: #1A2529;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Miltonian Tattoo', arial, serif;
    padding: 20px 0 20px 400px;
    margin: 0;
    letter-spacing: 6px;
}
#header p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: white;
}
#header h1 {
    margin: 0;
}
#header .f { 
    color: #FD3500; 
    display: inline-block;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
#header .l { 
    color: #F59A24; 
    display: inline-block;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}
#header .e { 
    color: #A0C2EB; 
    display: inline-block;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
#header .x { 
    color:  #6F8C53; 
    display: inline-block;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
}
#header .i { 
    color: pink; 
    display: inline-block;
}
#header .color { 
    font-family: 'Waiting for the Sunrise', arial, serif;
    margin-left: 50px;
    color: white; 
    letter-spacing: 2px;
    font-size: 24px;
}
#header .picker { 
    font-family: 'Waiting for the Sunrise', arial, serif;
    margin-left: 10px;
    color: lightgray; 
    font-size: 18px;
}

#main {
    width: 1200px;
    margin: 0 auto 0 auto;
}

#example {
    width: 200px;
    float: left;
    font-size: 12px;
    opacity: 0.8;
    margin-left: -30px;
}
#example pre {
    margin: 0;
    margin-left: -30px;
}
#example span {
    font-size: 22px;
    font-weight: bold;
}
#example .start-mark {
    display: inline-block;
    margin-left: 20px;
}
#example .end-mark {
    display: inline-block;
    margin-top: -10px;
    margin-left: 400px;
}

#picker-wrapper {
    width: 240px;
    height: 200px;
    margin: 40px auto 0 auto;
    background-color: gray;
    padding: 12px;
    box-shadow: 0 0 40px #000;
    border-radius: 15px;
}
#color-values {
    position: relative;
    top: 30px;
    left: 55px;
    list-style-type: none;
    margin: 0 auto;
    padding: 16px;
    width: 310px;
}
#color-values label {
    display: inline-block;
    width: 50px;
    font-size: 14px;
}
#color-values span {
    display: inline-block;
    border: 1px solid gray;
    padding: 4px;
    font-size: 12px;
    width: 115px;
    margin-bottom: 4px;
    margin-left: -5px;
}
#color-values span:hover {
    background-color: white;
}
#picker {
    width: 200px;
    height: 200px;
    float: left;
    cursor: crosshair;
}
#slide {
    width: 30px;
    height: 200px;
    float: left;
    margin-left: 10px;
    cursor: crosshair;
}
.clear {
    height: 1px;
    clear: both;
}

#footer {
    min-height: 400px;
    padding-top: 0px;
    margin-top: 50px;
    text-align: center;
    background-color: #1A2529;
}

#notes {
    margin: 0 auto;
    width: 800px;
}
.note {
    width: 250px;
    color: white;
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    float: left;
    margin-left: 100px;
}
.note h3 {
    letter-spacing: 3px;
    font-size: 20px;
    margin: 8px;
}
.note p {
    margin-top: 4px;
}
.note a {
    color: white;
}


#buy-button {
    margin-left: -240px;
    margin-top: 50px;
    letter-spacing: 0px;
    width: 90px;
    text-align: center;
    float: left;
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    -ms-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px 6px 6px 6px;
    border:1px solid #268a16;
    display:inline-block;
    color:#306108;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
}
#buy-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color:#5cb811;
}
#buy-button:active {
    position:relative;
    top:1px;
}